@model RCA.Models.Class_Season
@{
    ViewData["Title"] = "TEMPORADA: MODIFICAR Cadastro";
}
<h2>@ViewData["Title"]</h2>

<p>|| <a asp-action="Index" asp-route-_CompanyId="@ViewBag.CompanyId" class="btn btn-info">Voltar para LISTAGEM</a></p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden>
                @Html.TextBoxFor(m => m.Id);
                @Html.TextBoxFor(m => m.StatusId);
                @Html.TextBoxFor(m => m.CompanyId);
            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autofocus="autofocus" />
                <p><span asp-validation-for="Name" class="text-danger"></span></p>
            </div>

            <div class="form-group">
                || <input type="submit" value=" Gravar ! " class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
