@model IEnumerable<RCA.Models.Class_SeasonREL>
@{
    ViewData["Title"] = "Lista de Preço (" + @ViewBag.SeasonNAME + ")";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="col-md-10">
    <div class="col-md-4">
        <p>||&nbsp;<a asp-action="Index" class="btn btn-info">Voltar para LISTAGEM de TEMPORADA</a></p>
    </div>
    <div class="col-md-6">
        @if (@ViewBag.SeasonLIST != null)
        {
            @using (Html.BeginForm("PriceCopy", "Season"))
            {
                <div hidden>
                    <input type="text" name="_SeasonId" class="form-control" Value="@ViewBag.SeasonID" />
                </div>
                <div class="col-md-5">
                    Lista a ser copiada:&nbsp; @Html.DropDownList("_SeasonCopyId", (SelectList)@ViewBag.SeasonLIST, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    (%) aumento:&nbsp; <input type="text" name="_PercentAdd" class="form-control" Value="0" autofocus="autofocus" />
                </div>
                <div class="col-md-2">
                    ||&nbsp; <input type="submit" value="COPIAR Lista" class="btn btn-default" />
                </div>
            }
        }
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                | @Html.DisplayNameFor(m => m.GroupLevelItemNAME)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.SeasonItemTAX)
            </th>
            <th>|| Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _Item in Model)
        {
            <tr>
                @if (_Item.TypeLine == "Item")
                {
                    <td style="text-align:right">
                        @Html.DisplayFor(m => _Item.GroupLevelItemNAME)
                    </td>
                    <td>
                        | @Html.DisplayFor(m => _Item.SeasonItemTAX)
                    </td>
                    <td>
                        || <a asp-action="PriceEdit"
                              asp-route-_SeasonId="@_Item.SeasonID"
                              asp-route-_GroupLevelItemId="@_Item.GroupLevelItemID"
                              asp-route-_SeasonItemId="@_Item.SeasonItemID" class="btn btn-success">Modificar Preço</a>
                    </td>
                }
                else
                {
                    <td>
                        | @Html.DisplayFor(m => _Item.GroupLevelNAME)
                    </td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>