<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RCA-@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Flatly.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min-Flatly.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    @if (@User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole(UserTypeAccess.Master.ToString()))
                        {
                            <li>@Html.ActionLink("Cad. Companhia", "Index", "Company")</li>
                            <li>@Html.ActionLink("Cad. Usuário", "Index", "User")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Recepção", "Index", "Reception")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav">
                    @if (User.IsInRole(UserTypeAccess.Admin.ToString()))
                    {
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Manutenção.. <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cad. Temporada", "Index", "Season")</li>
                                <li>@Html.ActionLink("Cad. Canal", "Index", "Channel")</li>
                                <li>@Html.ActionLink("Cad. Acomodação", "Index", "Group", new { _GroupId = GroupType.ACOMODACAO })</li>
                                <li>@Html.ActionLink("Cad. Entretenimento", "Index", "Group", new { _GroupId = GroupType.ENTRETENIMENTO })</li>
                                <li>@Html.ActionLink("Cad. Consumo", "Index", "Group", new { _GroupId = GroupType.CONSUMO })</li>
                            </ul>
                        </li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Gerencial.. <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("(FALTA) Controle Estoque", "Index", "Home")</li>
                                <li>@Html.ActionLink("(FALTA) Controle Compras", "Index", "Home")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            @if (@User.Identity.IsAuthenticated)
            {
                <h4>@User.FindFirst("CompanyName").Value</h4>
            }
        </div>
        <div class="col-lg-2">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <li><a>Usuário: @User.Identity.Name</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="LogIn">LogIn</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="col-lg-1"></div>
    <div class="col-lg-10 body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; RCA - @DateTime.Today.Year</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-mask/jquery.mask.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.ui.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
