@model RCA.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error Control";
}
<h2 class="text-danger">@ViewData["Title"]</h2>


@if (@Model.GroupId != 0)
{
    <p>
        || <a asp-action="Index" asp-route-_GroupId="@Model.GroupId" class="btn btn-info">OK!</a>
    </p>
}
else if (@Model.CompanyId != 0)
{
    <p>
        || <a asp-action="Index" asp-route-_CompanyId="@Model.CompanyId" class="btn btn-info">OK!</a>
    </p>
}
else
{
    <p>
        || <a asp-action="Index" class="btn btn-info">OK!</a>
    </p>
}
<hr />

<br />
<br />
<br />
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <br />
    <br />
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
