@model RCA.Models.Class_Checkin
@{
    ViewData["Title"] = Model.GroupLevelItem_Name + " ( CHECKin )";
}
<h2>@ViewData["Title"]</h2>

<p>|| <a asp-action="Index" class="btn btn-info">Voltar para RECEPÇÃO</a></p>
<hr />

<div class="row">
    <form asp-action="CHECKin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div hidden>
            @Html.TextBoxFor(m => m.GroupLevelItem_Id);

            @Html.TextBoxFor(m => m.Channel_Percent);
            @Html.TextBoxFor(m => m.Channel_Tax);

            @Html.TextBoxFor(m => m.Book_PayTax);
            @Html.TextBoxFor(m => m.Book_Days);
        </div>

        <div class="col-md-6">
            <div class="col-md-7">
                <label asp-for="Season_Id" class="control-label"></label>
                @Html.DropDownListFor(m => m.Season_Id, new SelectList(@ViewBag.Season_LIST, "Id", "Name"), "Selecione...", new { @class = "form-control" })
                <span asp-validation-for="Season_Id" class="text-danger"></span>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12" style="background-color:lightgrey; border-radius: 3px 4px;">
                <h4>-: CANAL DA RESERVA</h4>

                <div class="col-md-5">
                    <label asp-for="Channel_Id" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Channel_Id, new SelectList(@ViewBag.Channel_LIST, "Id", "Name"), "Selecione...", new { @class = "form-control" })
                    <span asp-validation-for="Channel_Id" class="text-danger"></span>
                    <p id="Channel_INFO" style="background-color:lightgray; text-align:center">Corretagem: ?</p>
                </div>
                <div class="col-md-7">
                    <label asp-for="Channel_Code" class="control-label"></label>
                    <input asp-for="Channel_Code" class="form-control" />
                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-7" style="background-color:lightgrey; border-radius: 3px 4px;">
                <h4>-: HOSPEDAGEM</h4>

                <div class="col-md-5">
                    <label asp-for="Book_DateIn" class="control-label"></label>
                    <input asp-for="Book_DateIn" class="form-control" />
                    <span asp-validation-for="Book_DateIn" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Book_DateOut" class="control-label"></label>
                    <input asp-for="Book_DateOut" class="form-control" />
                    <span asp-validation-for="Book_DateOut" class="text-danger"></span>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-3">
                    <label asp-for="Book_AdultsNum" class="control-label"></label>
                    <input asp-for="Book_AdultsNum" class="form-control" style="width:70px" />
                    <span asp-validation-for="Book_AdultsNum" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Book_KidsNum" class="control-label"></label>
                    <input asp-for="Book_KidsNum" class="form-control" style="width:70px" />
                    <span asp-validation-for="Book_KidsNum" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Book_PCD" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Book_PCD, (SelectList)@ViewBag.yn_LIST, new { @class = "form-control", @style = "width:90px" })
                    <span asp-validation-for="Book_PCD" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Book_PET" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Book_PET, (SelectList)@ViewBag.yn_LIST, new { @class = "form-control", @style = "width:90px" })
                    <span asp-validation-for="Book_PET" class="text-danger"></span>
                </div>
                <div class="col-md-12">&nbsp;</div>
            </div>
            <div id="FrameExtrato" class="col-md-5">
                <div class="form-group">
                    <label asp-for="Book_PayTax" class="control-label"></label>
                    <p id="Season_Day" class="form-control" style="background-color:lightgray; text-align:center">R$ 0</p>
                </div>
                <div class="form-group">
                    <label asp-for="Book_PayDiscount" class="control-label"></label>
                    <input asp-for="Book_PayDiscount" class="form-control" style="width:70px" />
                    <span asp-validation-for="Book_PayDiscount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book_PayCash" class="control-label"></label>
                    <input asp-for="Book_PayCash" class="form-control" />
                    <span asp-validation-for="Book_PayCash" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
                <input id="btGravar" type="submit" value="Gravar !!!" class="btn btn-success" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12" style="background-color:lightgrey; border-radius: 3px 4px;">
                <h4>-: HÓSPEDE RESPONSÁVEL</h4>

                <div class="col-md-12 form-group">
                    <div class="col-md-4">
                        <label asp-for="Guest_CPF" class="control-label"></label>
                        <input asp-for="Guest_CPF" class="form-control" placeholder="ex. 000.000.000-00" />
                        <span asp-validation-for="Guest_CPF" class="text-danger"></span>
                        ||&nbsp;<p id="btFIND_CPF" class="btn btn-default">buscar CPF!</p>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="Guest_Name" class="control-label"></label>
                        <input asp-for="Guest_Name" class="form-control" />
                        <span asp-validation-for="Guest_Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">&nbsp; </div>
                    <div class="col-md-8">
                        <label asp-for="Guest_Email" class="control-label"></label>
                        <input asp-for="Guest_Email" class="form-control" />
                    </div>
                    <div class="col-md-4">&nbsp; </div>
                    <div class="col-md-4">
                        <label asp-for="Guest_Phone1" class="control-label"></label>
                        <input asp-for="Guest_Phone1" class="form-control" placeholder="ex. (00) 00000-0000" />
                        <span asp-validation-for="Guest_Phone1" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Guest_Phone2" class="control-label"></label>
                        <input asp-for="Guest_Phone2" class="form-control" placeholder="ex. (00) 0000-0000" />
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-md-4">
                        <label asp-for="Guest_PostalCode" class="control-label"></label>
                        <input asp-for="Guest_PostalCode" class="form-control" placeholder="ex. 00000-000" />
                        <span asp-validation-for="Guest_PostalCode" class="text-danger"></span>
                        ||&nbsp;<p id="btFIND_CEP" class="btn btn-default">buscar CEP!</p>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="Guest_Address" class="control-label"></label>
                        <input asp-for="Guest_Address" class="form-control" />
                        <span asp-validation-for="Guest_Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">&nbsp; </div>
                    <div class="col-md-8">
                        <label asp-for="Guest_Complement" class="control-label"></label>
                        <input asp-for="Guest_Complement" class="form-control" />
                        <span asp-validation-for="Guest_Complement" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">&nbsp; </div>
                    <div class="col-md-8">
                        <label asp-for="Guest_City" class="control-label"></label>
                        <input asp-for="Guest_City" class="form-control" />
                        <span asp-validation-for="Guest_City" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">&nbsp; </div>
                    <div class="col-md-5">
                        <label asp-for="Guest_State" class="control-label"></label>
                        <input asp-for="Guest_State" class="form-control" />
                        <span asp-validation-for="Guest_State" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Guest_Country" class="control-label"></label>
                        <input asp-for="Guest_Country" class="form-control" />
                        <span asp-validation-for="Guest_Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //calculo dif datas
        Date.prototype.addDias = function (dias) {
            this.setDate(this.getDate() + dias)
        };
        function DifBetweenDates(_Dt1, _Dt2) {
            var _Date = _Dt1.split("/");
            var _Date1 = new Date(_Date[2], _Date[1], _Date[0], 0, 0, 0, 0);

            var _Date = _Dt2.split("/");
            var _Date2 = new Date(_Date[2], _Date[1], _Date[0], 0, 0, 0, 0);

            var _count = 0;
            if (_Date1.getDate() < _Date2.getDate()) {
                while (_Date1.getDate() < _Date2.getDate()) {
                    _count += 1;

                    _Date1.addDias(1);
                }
            } else {
                while (_Date1.getDate() > _Date2.getDate()) {
                    _count -= 1;

                    _Date1.addDias(-1);
                }
            }
            return parseInt(_count);
        };
        // Extrato
        function CalculoDiaria() {
            var $wrapper = document.querySelector('#Season_Day');
            var _Texto = "R$ 0";

            // valor da diaria
            var _ValorDiaria = $('#Book_PayTax').val();
            var _ValorPeriodo = 0;

            if (_ValorDiaria != 0) {
                //Calculo de Diarias
                var _Data1 = $('#Book_DateIn').val()
                var _Data2 = $('#Book_DateOut').val()
                //
                var _Dias = DifBetweenDates(_Data1, _Data2)
                $('#Book_Days').val(_Dias);

                //Calculo do Valor das diarias
                _ValorPeriodo = _ValorDiaria * _Dias;

                //
                _Texto = "Período de "+_Dias.toString() + " dia(s): " + _ValorPeriodo.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
            }
            $wrapper.innerHTML = _Texto;
        };
        $(document).ready(function () {

            $("#Season_Id").change(function () {
                $.ajax({
                    url: '@Url.Action("FIND_SEASON", "Reception")',
                    type: "GET",
                    contentType: "application/Json",
                    data: { _SeasonId: $("#Season_Id").val(), _GroupLevelItemId: $("#GroupLevelItem_Id").val() },
                    success: function (_ret) {
                        $("#Book_PayTax").val(0);

                        if (_ret != null) {
                            if (_ret.tax != 0) {
                                $("#Book_PayTax").val(_ret.tax);
                            }
                        }

                        CalculoDiaria();
                    }
                });
            });

            $("#Channel_Id").change(function () {
                $.ajax({
                    url: '@Url.Action("FIND_CHANNEL", "Reception")',
                    type: "GET",
                    contentType: "application/Json",
                    data: { _ChannelId: $(this).val() },
                    success: function (_ret) {
                        $("#Channel_Tax").val(0);
                        $("#Channel_Percent").val(0);
                        var _Text = '&nbsp;';

                        var $wrapper = document.querySelector('#Channel_INFO');
                        if (_ret != null) {
                            if (_ret.tax != 0) {
                                $("#Channel_Tax").val(_ret.tax);
                                _Text = 'Corretagem: ' +_ret.tax.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
                            } else if (_ret.percent != 0) {
                                $("#Channel_Percent").val(_ret.percent);
                                _Text = 'Corretagem: ' +_ret.percent.toLocaleString('br-PT') + " %";
                            }
                        }
                        $wrapper.innerHTML = _Text;
                    }
                });
            });

            $("#Book_DateIn").mask('00/00/0000');
            $("#Book_DateIn").change(function () { CalculoDiaria(); });

            $("#Book_DateOut").mask('00/00/0000');
            $("#Book_DateOut").change(function () { CalculoDiaria(); });

            $("#Guest_CPF").mask('000.000.000-00');
            $("#btFIND_CPF").click(function () {
                $.ajax({
                    url: '@Url.Action("FIND_CPF", "Reception")',
                    type: "GET",
                    contentType: "application/Json",
                    data: { _CPF: ''+$("#Guest_CPF").val() },
                    success: function (_ret) {

                        if (_ret != null) {
                            $("#Guest_Name").val(_ret.name);
                            $("#Guest_Email").val(_ret.email);
                            $("#Guest_Phone1").val(_ret.phone1);
                            $("#Guest_Phone2").val(_ret.phone2);

                            $("#Guest_PostalCode").val(_ret.postalCode);
                            $("#Guest_Address").val(_ret.address);
                            $("#Guest_Complement").val(_ret.complement);
                            $("#Guest_City").val(_ret.city);
                            $("#Guest_State").val(_ret.state);
                            $("#Guest_Country").val(_ret.country);

                            $("#btGravar").focus();
                        } else {
                            $("#Guest_Name").focus();
                        }
                    }
                });
            });

            $("#Guest_Phone1").mask('(00) 00000-0000');
            $("#Guest_Phone2").mask('(00) 0000-0000');

            $("#Guest_PostalCode").mask('00000-000');
            $("#btFIND_CEP").click(function () {
                $.ajax({
                    url: 'https://viacep.com.br/ws/' + $("#Guest_PostalCode").val() + '/json/unicode/',
                    dataType: 'json',
                    success: function (_ret) {
                        if (_ret != null) {
                            $("#Guest_Address").val(_ret.logradouro);
                            if ($("#Guest_Complement").val() == "") {
                                $("#Guest_Complement").val(" - " + _ret.bairro);
                            }
                            $("#Guest_City").val(_ret.localidade);
                            $("#Guest_State").val(_ret.uf);

                            if ($("#Guest_Address").val() != "") {
                                $("#Guest_Complement").focus();
                            } else {
                                $("#btGravar").focus();
                            }
                        } else {
                            $("#Guest_Address").focus();
                        }
                    }
                });
            });
        });
    </script>
}
