@model IEnumerable<RCA.Models.Class_ReceptionBOOK>
@{
    ViewData["Title"] = "RECEPÇÃO";
}
<h2>@ViewData["Title"]</h2>

<body>
    @foreach (var _roomType in @Model)
    {
        <div class="col-md-12">
            <p class="form-control" style="background-color:ButtonFace">Suíte(s) @_roomType.LevelNAME</p>

            @foreach (var @_room in _roomType.BookItem_LIST)
            {
                <div class="col-sm-5 col-md-3 mb-5" style="border:double">
                    <p class="form-control" style="background-color:ButtonFace">@_room.Item_Name <text style="color:brown"> @_room.Reserve_StatusName </text></p>

                    @if (@_room.Reserve_Id == 0 || @_room.Reserve_StatusId == 1)
                    {
                        <p style="font-size: 11px; color: green">@_room.Reserve_Format</p>
                        <div class="col-md-6" style="font-size: 11px; color: green">
                            <p>-</p>
                            <p>-</p>
                            <p>-</p>
                        </div>
                        <div class="col-md-6" style="text-align:right; height:50px; font-size:9px">
                            <p>-</p>
                            <p>-</p>
                            <p>-</p>
                        </div>
                        <div class="col-md-12" style="text-align:right">
                            <a class="btn btn-success" href="@Url.Action("CHECKin", "Reception", new { _RoomID = @_room.Item_Id })">CHECK-in</a>
                        </div>
                    }
                    else
                    {
                        <p style="font-size: 11px; color: blue">@_room.Reserve_Format</p>
                        <div class="col-md-6" style="font-size: 11px; color:blue;">
                            <p>@_room.Reserve_GuestName</p>
                            <p>@_room.Reserve_GuestPhone</p>
                            <p>Saída: @_room.Reserve_DateOut</p>
                        </div>
                        <div class="col-md-6" style="text-align:right; height:50px; font-size:9px">
                            @if (@_room.Entreteniment_LIST.Count == 0)
                            {
                                <p>-</p>
                                <p>-</p>
                                <p>-</p>
                            }
                            else
                            {
                                <p>** PRÓXs. AGENDAMENTOS **</p>
                                foreach (var @_serv in @_room.Entreteniment_LIST)
                                {
                                    <p>@_serv.Name (@_serv.DayTime)</p>
                                }
                            }
                        </div>
                        <div class="col-md-12" style="text-align:right">
                            <a class="btn btn-info" href="@Url.Action("SERVICES", "Reception", new { _ReserveID = @_room.Reserve_Id, _ExtratoID = 0 })">SERVIÇO</a>
                        </div>
                    }
                </div>
            }
        </div>
    }
</body>
