@model IEnumerable<RCA.Models.Class_BookItem>
@{
    ViewData["Title"] = "RECEPÇÃO: Histórico de " + ViewBag.GroupTypeName;
}
<div>
    <h2>@ViewData["Title"]</h2>
    ||&nbsp;<a class="btn btn-default" href="@Url.Action("SERVICES", "Reception" , new { _BookID=@ViewBag.BookId, _ExtractID=0 })">Voltar</a>
</div>
<hr />
<br />
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                | @Html.DisplayNameFor(m => m.StatusId)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.DateConsume)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.SeasonDesciption)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.SeasonUnit)
            </th>
            <th>|| Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _Item in Model)
        {
        <tr>
            @if (_Item.StatusId == BookItemStatus.Reservado)
            {
                <td>
                    | @Html.DisplayFor(m => _Item.StatusId)
                </td>
            }
            else
            {
                <td></td>
            }
            <td>
                | @Html.DisplayFor(m => _Item.DateConsume)
            </td>
            <td>
                | @Html.DisplayFor(m => _Item.SeasonDesciption)
            </td>
            <td>
                | @Html.DisplayFor(m => _Item.SeasonUnit)
            </td>
            <td>
                ||&nbsp;<a class="btn btn-default" href="@Url.Action("SERVICES", "Reception" , new { _BookID=_Item.BookId, _ExtractID=_Item.Id })">Selecionar</a>
            </td>
        </tr>
        }
    </tbody>
</table>