@model IEnumerable<RCA.Models.Class_Channel>
@{
    ViewData["Title"] = "Canal: LISTAGEM";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div>
    || <a asp-action="Create" class="btn btn-success">Adicionar Novo</a>
</div>
<br />
<table class="table table-striped table-hover">
    <thead>
        <tr class="success"> 
            <th>
                | @Html.DisplayNameFor(m => m.StatusId)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.TypeId)
            </th>
            <th>
                | @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>|| Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _Item in Model)
        {
        <tr>
            <td>
                | @Html.DisplayFor(m => _Item.StatusId)
            </td>
            <td>
                | @Html.DisplayFor(m => _Item.TypeId)
            </td>
            <td>
                | @Html.DisplayFor(m => _Item.Name)
            </td>
            <td>
                || <a asp-action="Details" asp-route-id="@_Item.Id" class="btn btn-default">Detalhe</a>
                || <a asp-action="Edit" asp-route-id="@_Item.Id" class="btn btn-success">Modificar</a>
                || <a asp-action="Delete" asp-route-id="@_Item.Id" class="btn btn-warning">Suspender</a>
            </td>
        </tr>
        }
    </tbody>
</table>
