@model RCA.Models.Class_GroupLevelItem
@{
    ViewData["Title"] = "Item " + ViewBag.GroupLevelName + ": MODIFICAR CADASTRO";
}
<h2>@ViewData["Title"]</h2>

<p>|| <a asp-action="Index" asp-route-_GroupId="@ViewBag.GroupId" class="btn btn-info">Voltar para LISTAGEM</a></p>
<hr />

<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGLI">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden>
                @Html.TextBoxFor(m => m.Id);
                @Html.TextBoxFor(m => m.StatusId);
                @Html.TextBoxFor(m => m.GroupLevelId);
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autofocus="autofocus" />
            </div>

            @if (ViewBag.GroupType == GroupType.ACOMODACAO)
            {
                <div class="form-group">
                    <label asp-for="OccupantsNum" class="control-label"></label>
                    <input asp-for="OccupantsNum" class="form-control" style="width:100px" />
                </div>

                <div class="form-group">
                    <label asp-for="PCD" class="control-label"></label>
                    <br />
                    @Html.RadioButtonFor(m => m.PCD, "Sim") SIM
                    &nbsp; &nbsp; &nbsp;
                    @Html.RadioButtonFor(m => m.PCD, "Nao") NÃO
                </div>

                <div class="form-group">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span asp-validation-for="OccupantsNum" class="text-danger"></span>
                    <span asp-validation-for="PCD" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <br />
                <br />
                || <input type="submit" value=" Gravar ! " class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
