@model RCA.Models.Class_Cadaster
@{
    ViewData["Title"] = @Model.GroupName + ": Listagem";
}
<div>
    <h2>@ViewData["Title"]</h2>
    ||&nbsp;<a asp-action="CreateGL" class="btn btn-success" asp-route-_GroupId="@Model.GroupId">Adicionar Novo</a>
</div>
<hr />
<br />
<table class="table table-striped table-hover">
    <tbody>
        @foreach (var _Item in Model.CadasterLIST)
        {
            @if (_Item.TypeLine == "Cabec")
            {
                @if (_Item.GroupLevelItemTaxId == 0 && _Item.GroupLevelItemId == 0 && _Item.GroupLevelId == 0)
                {
                    <tr>
                        <td class="success">|&nbsp;@Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td class="success">||&nbsp;Ações</td>
                    </tr>
                }
                else if (_Item.GroupLevelItemTaxId == 0 && _Item.GroupLevelItemId == 0)
                {
                    <tr>
                        <td></td>
                        <td style="background-color:cadetblue">| @Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td style="background-color:cadetblue">|| Ações</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color:darkcyan">| @Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td style="background-color:darkcyan">|| Ações</td>
                    </tr>
                }
            }
            else if (_Item.TypeLine == "Item")
            {
                <tr>
                    @if (_Item.GroupLevelItemTaxId == 0 && _Item.GroupLevelItemId == 0)
                    {
                        <td>|&nbsp;@Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td>
                            ||&nbsp;<a asp-action="EditGL" class="btn btn-success" asp-route-_GroupLevelid="@_Item.GroupLevelId">Modificar</a>
                            ||&nbsp;<a asp-action="DeleteGL" class="btn btn-warning" asp-route-_GroupLevelid="@_Item.GroupLevelId">Suspender</a>
                            ||&nbsp;<a asp-action="CreateGLI" class="btn btn-success" asp-route-_GroupLevelId="@_Item.GroupLevelId">Adicionar Item</a>
                        </td>
                    }
                    else if (_Item.GroupLevelItemTaxId == 0)
                    {
                        <td></td>
                        <td>| @Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td>
                            ||&nbsp;<a asp-action="EditGLI" asp-route-_GroupLevelItemid="@_Item.GroupLevelItemId" class="btn btn-success">Modificar</a>
                            ||&nbsp;<a asp-action="DeleteGLI" asp-route-_GroupLevelItemid="@_Item.GroupLevelItemId" class="btn btn-warning">Suspender</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td>| @Html.DisplayFor(m => _Item.ItemDesc)</td>
                        <td>
                            || <a asp-action="EditGLIT" asp-route-GroupLevelItemTaxid="@_Item.GroupLevelItemTaxId" class="btn btn-success">Modificar</a>
                        </td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
